@import 'tailwindcss';

@theme {
  --spacing: 5px;
}

:root {
  --light: #ffffff;
  --dark: #171717;
}

header {
  /* background: rgb(255, 255, 255, 0.2); */
  /* background-image: linear-gradient(rgba(101, 170, 255, 1), rgba(0, 0, 0, 0)); */
  /* mask-image: linear-gradient(to right,
      white 30%,
      transparent); */

  backdrop-filter: blur(5px);
  transition: background-color 0.8s ease;
  position: absolute;
  margin-inline: auto;
  top: 0;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  transform: translateY(-150px);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
  animation: fadeText 1.5s;
}

h2 {
  color: #219b8c;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  animation: fadeText 1.5s;
}

.darkMode h2 {
  color: #31d38d;
}

p {
  margin: 25px 0;
  animation: fadeText 1.5s;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--light);
  transition: background-color 0.8s ease;
  color: var(--dark);
}

body.darkMode {
  background-color: var(--dark);
  color: var(--light);
}

.svgIcon:hover {
  cursor: pointer;
}
