@import 'tailwindcss';

@theme {
  --spacing: 5px;
}

:root {
  --light: #ffffff;
  --dark: #171717;
}

header {
  /* background: rgb(255, 255, 255, 0.2); */
  /* background-image: linear-gradient(rgba(101, 170, 255, 1), rgba(0, 0, 0, 0)); */
  /* mask-image: linear-gradient(to right,
      white 30%,
      transparent); */
  backdrop-filter: blur(5px);
  transition: background-color 0.8s ease;
  position: fixed;
  margin-inline: auto;
  top: 0;
}

.darkMode header {
  /* background-image: linear-gradient(rgba(20, 21, 22, 1), rgba(0, 0, 0, 0)); */
  /* background: rgb(23, 23, 23, 0.2); */
}

/* #hero {
  transition: background-color .8s ease;
  background: #A0DAE2;
}

.darkMode #hero {
  background: #050531;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--light);
  transition: background-color 0.8s ease;
  color: var(--dark);
  /* font-family: Arial, Helvetica, sans-serif; */
}

body.darkMode {
  background-color: var(--dark);
  color: var(--light);
}

.svgIcon:hover {
  cursor: pointer;
}

@keyframes shine {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(10px, 10px);
  }
}

@keyframes shine-scale {
  0% {
    scale: 0.42;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

@keyframes sun-scale {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.sun-icon {
  /* overflow: visible; */

  /* &:hover {
    .sun-icon-shine {
      transform-origin: center center;
      animation-duration: 400ms;
      animation-name: shine-scale;
    }

    .sun-circle {
      transform-origin: center center;
      animation-duration: 400ms;
      animation-name: sun-scale;
    }
  } */
}
